*{
    margin: 0px;
    padding: 0px;
}


.heading-1{
    font-size: 1.3em;
    font-weight: bold;

}

.he2{
    font-size: 1.5em;
    font-weight: bold;
}

.label{
    margin-bottom: 0.2em;
}

.upload-btn{
    background-color: #5cb85c;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.upload-btn:hover{
    background-color: #4ee44e;
    padding: 10px;
}

th{
    padding: 30px;
}

.modal-ku{
    width: 750px;
    margin: auto;
}

.db_inp{
    display: block;
    width: 100%;
    padding: 2px 5px;
}

#divLoading {
    margin: 0px;
    display: none;
    padding: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 30001;
    opacity: 0.8;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
}

#myalert{
    display: none;
}

.message{
    width: 400px; 
    position: fixed; 
    top: 5%;
    left: 50%; 
    transform: translate(-50%, 0); 
    z-index: 9999;
}


@media only screen and (max-width: 992px) {

    .upload-btn{
        text-align: center;
    }

    .heading-1{
        font-size: 1em;
        font-weight: bold;
    
    }
    
    .he2{
        font-size: 1em;
        font-weight: bold;
    }

    .icon-cont{
        text-align: center;
    }
    
    .upload-cont{
        text-align: center;
    }
  }

  @media only screen and (max-width: 768px) {
    .biek-icon{
        width: 25%;
    }
  }

  @media only screen and (max-width: 576px) {
    .heading-1{
        font-size: 0.7em;
        font-weight: bold;
    
    }
    
    .he2{
        font-size: 1em;
        font-weight: bold;
    }

    .biek-icon{
        width: 15%;
    }

    .upload-cont{
        text-align: center;
    }

    .exam-detailer{
        width: auto;
    }

    .message{
        width: 100%; 
        position: fixed; 
        top: 5%;
        left: 50%; 
        transform: translate(-50%, 0); 
        z-index: 9999;
    }
  }